/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

/* Header Section */
header {
    display: fixed;
    position: relative;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: #1900ff;
    box-shadow: /* Hard to style will come back too */
        inset 0 -1em 3em rgba(12, 1, 112, 0.568),
        inset  0 1em 1rem rgba(24, 195, 201, 0.45);
    text-align: center;
}

header nav {
    height: 100%;
}

header nav ul {
    height: 100%;
    display: grid;
    grid:
        "home aboutme projects contact" 
        1fr / 1fr 1fr 1fr 1fr;
    align-items: center;
    list-style: none;
}

header nav ul li {
}


header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Footer Section */


/* About me Page */
#whoami {
    display: flex;
    align-items: center;
    width: 100%;
}
#whoami .image-container {
    margin: 1rem;
}

#whoami .image-container img{
    width: 15.625rem;
    height: auto;
}
