/* Universal Selector */
html {
    font-family: sans-serif;
    font-size: 16px;
}

/* Header Section */

/* About me Selector */
#whoami {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#whoami .image-container {
    flex: 2 1 50%;
}

#whoami .image-container img{
    width: 75%;
    /*width: 15.625rem;*/
    height: auto;
}